# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Flask local data (SQLite cache DB)
instance/
*.db

# Environment variables & secrets
.env

# Editors / OS
.DS_Store
.idea/
.vscode/

# Test framework
.pytest_cache/
